{% extends 'base.html'%}
{% block content %}
<h1>HELLO!!!</h1>
<!--<h1 style="margin-left: 17%;">Favorite posts:</h1>-->
<!--<div style="padding-left: 350px; padding-right: 350px;">-->
<!--{% for new in favorite_posts %}-->
<!--    <article style="margin-top: 3%;margin-left:150px;margin-right:190px;">-->
<!--        <h3 style="color: midnightblue;">{{ new }}</h3>-->
<!--        <span class="image" ><img src="{{ new.get_image }}" style="width: 605px; height: 400px; margin-left:90%;" alt=""/></span>-->
<!--        <p>{{ new.content|truncatewords:50 }}</p>-->
<!--        <a href="{% url 'detail' new.id %}" class="button">More</a>-->
<!--    </article>-->
<!--{% empty %}-->
<!--<h2 style="margin-left:17%;">No favorite posts yet...</h2>-->
<!--{% endfor %}-->
<!--</div>-->

{% endblock %}