
{% extends 'base.html' %}
{% load static %}

{% block content%}
<h1> Hello world </h1>
<!-- feature_post start-->
    <section class="all_post section_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-12">

                                <div class="single_post post_1 feature_post">
                                        <span class="image object">
                                            <img style="width: 600px; height: auto;" src="{{ category.image.url }}"  alt="" />
                                        </span>
                                    <div class="single_post_text text-centre">
                                            {% if category.parent %}
                                                <a href="category.html"><h5>{{ category.parent}} / {{ category.name }}</h5></a>
                                            {% else %}
                                                <a href="category.html"><h5>{{ category.name }}</h5></a>
                                            {% endif %}
                                            {% if category.get_children%}
                                                    {% for child in category.get_children%}
                                                        <a href="{% url 'category' child.slug %}"><h2 >{{ child.name }}</h2></a>
                                                    {% endfor %}
                                            {% endif %}
                                    </div>
                                </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

   <section class="all_post section_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="single_post post_1 feature_post">
                                {% for article in articles %}
                                <div class="single_post_img">
                                    <img src="{{ article.get_image }}" alt="">
                                </div>
                                <div class="single_post_text text-center">
                                    <a href="{% url 'category' category.slug %}"><h5>{{ category.parent}} / {{ category.name }}</h5></a>
                                    <h3><a href="{% url 'article-detail' article.id %}" >{{ article.description | truncatewords:10 }}</a></h3>

<!--                                    <a href="{% url 'article-detail' article.id %}"><h2>{{ article.description | truncatewords:10 }}</h2></a>-->
                                    <p>{{ article.created}}</p>
                                    <ul class="actions">
									<li><a href="{% url 'article-detail' article.id %}" class="button">More</a></li>
								</ul>
                                </div>

                                {% endfor %}
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- feature_post end-->
{% endblock %}

