{% extends 'base.html' %}

{% block content %}
            <section>
                <h1>Add Post </h1>
                    <div class="sidebar_widget">
                        <div class="single_sidebar_wiget form_widget">
                            <h1>Are you sure you want to delete this article?</h1>
                            <form method="post" >
                                {% csrf_token %}

                                <input class="genric btn-danger" type="submit" value="Delete">
<!--                                <a class="genric btn" href="{% url 'home' %}" role="button">Cancel</a>-->
                                <a href="{% url 'home' %}" class="genric-btn default">Cancel</a>

                            </form>

                            </form>
                        </div>
                    </div>
            </section>

{% endblock %}