{% extends 'base.html' %}
{% load static %}
{% block content %}




<div class="col-lg-8 posts-list">
               <div class="single-post">
                  <div class="feature-img">
                    {% if article.image %}
                        <img class="post-image" style="width: 500px; height: auto" src="{{ article.image.url }}">
                        <hr>
                      {% endif %}
                  </div>
                  <div class="blog_details">
                     <h2>
                     <h2>{{ article.title }}
                     </h2>
                     <ul class="blog-info-link mt-3 mb-4">
                        <li><a href="#"><i class="far fa-user"></i> {{ article.category.name }}</a></li>
                       {% with comments.count as total_comments %}
                        <li><a href="#"><i class="far fa-comments"></i>{{ total_comments }} Comments</a></li>
                     </ul>
                     <p class="excert">{{ article.description }}
                     </p>
                  </div>
               </div>
               <div class="navigation-top">
                  <div class="blog-author">
                     <div class="media align-items-center">
                        <div class="media-body">
                            {% if article.user == user %}
                           <h2><a href="{% url 'delete-article' article.id %}" class="d-lg-block"><i class="ti-trash"></i></a></h2>
                           <h2><a href="{% url 'update-article' article.id %}" class="d-lg-block"><i class="ti-pencil"></i></a></h2>
                             {% endif %}
                            {% if not request.user in article.like %}
                            <h2><a href="{% url 'like' article.id %}" class="d-lg-block"><i class="ti-bookmark"></i></a>Added</h2>
                            {% endif%}

                        </div>
                     </div>
                  </div>
                  <div class="d-sm-flex justify-content-between text-center">
                     <p class="like-info"><span class="align-middle"><i class="far fa-heart"></i></span> Lily and 4
                        people like this</p>
               </div>
               <div class="blog-author">
                  <div class="media align-items-center">
                     <img src="img/blog/author.png" alt="">
                     {% if user.image %}
                     <img src="{{ user.image.url }}" alt="">
                     {% endif %}
                     <div class="media-body">
                        <a href="#">
                           <h4>{{ user.first_name }} {{ user.last_name }}</h4>
                        </a>
                        <p>{{ user.email }}</p>
                     </div>
                  </div>
                 <p>
          {% endwith %} {% for comment in comments %}
        </p>

        <div class="comments" style="padding: 10px;">
          <p class="font-weight-bold">
            Username: {{ comment.author }}
            <br>
            <span class=" text-muted font-weight-normal">
              Created on: {{ comment.created_on|date:"F d, Y" }}
            </span>
          </p>
          {{ comment.content | linebreaks }}
        </div>
        <hr>

                     </p>
                  </div>
               </div>
               <div class="navigation-top">
                  <div class="blog-author">
                     <div class="media align-items-center">
                        <div class="media-body">
                           <h2><a href="{% url 'delete-article' article.id %}" class="d-lg-block"><i class="ti-trash"></i></a></h2>
                           <h2><a href="{% url 'update-article' article.id %}" class="d-lg-block"><i class="ti-pencil"></i></a></h2>
                        </div>
                     </div>
                  </div>
                  <div class="d-sm-flex justify-content-between text-center">
                     <p class="like-info"><span class="align-middle"><i class="far fa-heart"></i></span>#</p>
                     <div class="col-sm-4 text-center my-2 my-sm-0">
<!--                         <p class="comment-count"><span class="align-middle"><i class="far fa-comment"></i></span> 06 Comments</p>-->
                     </div>
                  </div>
                  <div class="navigation-area">
                     <div class="row">
                        <div
                           class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                           <div class="thumb">
                              <a href="#">
                                 <img class="img-fluid" src="img/post/preview.png" alt="">
                              </a>
                           </div>
                           <div class="arrow">
                              <a href="#">
                                 <span class="text-white ti-arrow-left"></span>
                              </a>
                           </div>
                           <div class="detials">
                              <p>Prev Post</p>
                              <a href="#">
                                 <h4>Space The Final Frontier</h4>
                              </a>
                           </div>
                        </div>
                        <div
                           class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                           <div class="detials">
                              <p>Next Post</p>
                              <a href="#">
                                 <h4>Telescopes 101</h4>
                              </a>
                           </div>
                           <div class="arrow">
                              <a href="#">
                                 <span class="text-white ti-arrow-right"></span>
                              </a>
                           </div>
                           <div class="thumb">
                              <a href="#">
                                 <img class="img-fluid" src="img/post/next.png" alt="">
                              </a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="blog-author">
                  <div class="media align-items-center">
                     {% if user.image %}
                     <img src="{{ user.image.url }}" alt="">
                     {% endif %}
                     <div class="media-body">
                        <a href="#">
                           <h4>{{ user.first_name }} {{ user.last_name }}</h4>
                        </a>
                        <p>{{ user.email }}</p>
                     </div>
                  </div>
               </div>



               </div>
               <div class="comment-form">
                  <h4>Leave a Reply</h4>
                  <form class="form-contact comment_form" action="#" id="commentForm">
                     <div class="row">
                        <div class="col-12">
                           <div class="form-group">
                              <textarea class="form-control w-100" name="comment" id="comment" cols="30" rows="9"
                                 placeholder="Write Comment"></textarea>
                           </div>
                        </div>
                        <div class="col-sm-6">
                           <div class="form-group">
                              <input class="form-control" name="name" id="name" type="text" placeholder="Name">
                           </div>
                        </div>
                        <div class="col-sm-6">
                           <div class="form-group">
                              <input class="form-control" name="email" id="email" type="email" placeholder="Email">
                           </div>
                        </div>
                        <div class="col-12">
                           <div class="form-group">
                              <input class="form-control" name="website" id="website" type="text" placeholder="Website">
                           </div>
                        </div>
                     </div>
                     <div class="load_btn">
                        <a href="#" class="btn_1">SUBMIT </a>
                     </div>
                  </form>
               </div>
            </div>
         </div>
        {% endfor %}
               </div>
                <h4>Leave a Reply</h4>
                 {% if user.is_authenticated %}
                  <div class="col-md-8 card mb-4  mt-3 ">
                    <div class="card-body">
                      {% if new_comment %}
                      <div class="alert alert-success" role="alert">
                        Your comment is added
                      </div>
                      {% else %}
                      <h3>Leave a comment</h3>
                      <form method="post" style="margin-top: 1.3em;">
                        {{ comment_form.as_p  }}
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-danger">Submit</button>
                      </form>
                      {% endif %}
                    </div>
                  </div>
                  {% endif %}
            </div>
         </div>
      </div>


   </section>

{% endblock %}