git {% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="form-group">
   <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ comment_form.as_p }}
  </form>
   
</div>


   <!--================Blog Area =================-->
   <section class="blog_area single-post-area all_post section_padding">
      <div class="container">
         <div class="row">
            <div class="col-lg-8 posts-list">
               <div class="single-post">
                  <div class="feature-img">
                     <img class="img-fluid" src="{{ article.get_image }}}" alt="">
                  </div>
                  <div class="blog_details">
                     <h2>{{ article.title }}
                     </h2>
                     <ul class="blog-info-link mt-3 mb-4">
                        <li><a href="#"><i class="far fa-user"></i> {{ article.category.name }}</a></li>
                        <li><a href="#"><i class="far fa-comments"></i> 03 Comments</a></li>
                     </ul>
                     <p class="excert">{{ article.description }}
                     </p>
                     <p>
                     </p>
                     <div class="quote-wrapper">
                        <div class="quotes">
                          {{ article.description | truncatewords:10 }}
                        </div>
                     </div>
                     <p>

                     </p>
                     <p>

                     </p>
                  </div>
               </div>
               <div class="navigation-top">
                  <div class="blog-author">
                     <div class="media align-items-center">
                        <div class="media-body">
                           <h2><a href="{% url 'delete-article' article.id %}" class="d-lg-block"><i class="ti-trash"></i></a></h2>
                           <h2><a href="{% url 'update-article' article.id %}" class="d-lg-block"><i class="ti-pencil"></i></a></h2>
                        </div>
                     </div>
                  </div>
                  <div class="d-sm-flex justify-content-between text-center">
                     <p class="like-info"><span class="align-middle"><i class="far fa-heart"></i></span> Lily and 4
                        people like this</p>
                     <div class="col-sm-4 text-center my-2 my-sm-0">
<!--                         <p class="comment-count"><span class="align-middle"><i class="far fa-comment"></i></span> 06 Comments</p>-->
                     </div>
                  </div>
                  <div class="navigation-area">
                     <div class="row">
                        <div
                           class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                           <div class="thumb">
                              <a href="#">
                                 <img class="img-fluid" src="img/post/preview.png" alt="">
                              </a>
                           </div>
                           <div class="arrow">
                              <a href="#">
                                 <span class="text-white ti-arrow-left"></span>
                              </a>
                           </div>
                           <div class="detials">
                              <p>Prev Post</p>
                              <a href="#">
                                 <h4>Space The Final Frontier</h4>
                              </a>
                           </div>
                        </div>
                        <div
                           class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                           <div class="detials">
                              <p>Next Post</p>
                              <a href="#">
                                 <h4>Telescopes 101</h4>
                              </a>
                           </div>
                           <div class="arrow">
                              <a href="#">
                                 <span class="text-white ti-arrow-right"></span>
                              </a>
                           </div>
                           <div class="thumb">
                              <a href="#">
                                 <img class="img-fluid" src="img/post/next.png" alt="">
                              </a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="blog-author">
                  <div class="media align-items-center">
                     {% if user.image %}
                     <img src="{{ user.image.url }}" alt="">
                     {% endif %}
                     <div class="media-body">
                        <a href="#">
                           <h4>{{ user.first_name }} {{ user.last_name }}</h4>
                        </a>
                        <p>{{ user.email }}</p>
                     </div>
                  </div>
               </div>
               <div class="comments-area">
                  <h4>05 Comments</h4>
                  <!-- <div class="comment-list">
                     <div class="single-comment justify-content-between d-flex">
                        <div class="user justify-content-between d-flex">
                           <div class="thumb">
                              <img src="img/comment/comment_1.png" alt="">
                           </div>
                           <div class="desc">
                           {% if not article.comments.all %} 
                              <h4> No comments yet.. 
                                 <a href="#">Add one </a> </h4>
                           {% else %}
                                    {% for comment in article.comments.all %}
                                    <p class="comment">
                                       {{ comment.name }}   
                                       {{ comment.content}}
                                       {{ comment.email }}
                                 
                              </p>
                              <div class="d-flex justify-content-between">
                                 <div class="d-flex align-items-center">
                                    <h5>
                                       <a href="#">{{ comment.user }}</a>
                                    </h5>
                                    <p class="date">{{ comment.created }}</p>
                                 </div>
                                 <div class="reply-btn">
                                    <a href="#" class="btn-reply text-uppercase">reply</a>
                                 </div>
                              </div>
                              {% endfor %}
                           {% endif %}
                           </div>
                        </div>
                     </div>
                  </div> -->
                  
                  <div class="comment-list">
                     {% if not article.comments.all %} 
                        <h4>No comments yet.. </h4>
                     {% else %}   
                        {% for comment in article.comments.all %}
                           <div class="single-comment justify-content-between d-flex">
                              <div class="user justify-content-between d-flex">
                                 <div class="thumb">
                                    <img src="img/comment/comment_3.png" alt="">
                                 </div>
                                 <div class="desc">
                                    <p class="comment">
                                       {{comment.content }}
                                    <div class="d-flex justify-content-between">
                                       <div class="d-flex align-items-center">
                                          <h5>
                                             <a href="#">{{ comment.user }}</a>
                                          </h5>
                                          <p class="date">{{ comment.created_on }}</p>
                                       </div>
                                       <div class="reply-btn">
                                          <a href="#" class="btn-reply text-uppercase">reply</a>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        {% endfor %}   
                     {% endif %}
                  </div>
               </div> 
               <div class="comment-form">
                  <h4>Leave a Reply</h4>
                  <form class="form-contact comment_form" action="post" id="commentForm" enctype="multipart/form-data">
                     <div class="row">
                         <div class="col-12">
                           <div class="form-group">
                              <textarea class="form-control w-100" name="comment" id="comment" cols="30" rows="9"
                                 placeholder="Write Comment"></textarea>
                           </div>
                        </div>
                        <div class="col-sm-6">
                           <div class="form-group">
                              <input class="form-control" name="name" id="name" type="text" placeholder="Name">
                           </div>
                        </div>
                        <div class="col-sm-6">
                           <div class="form-group">
                              <input class="form-control" name="email" id="email" type="email" placeholder="Email">
                           </div>
                        </div>
                        <div class="col-12">
                           <div class="form-group">
                              <form method="post" enctype="multipart/form-data">
                                 {% csrf_token %}
                                 {{ comment_form.as_p }}
                             </form>
                              
                           </div>
                        </div> -->
                     </div>
                     <div class="load_btn">
                        <input class="genric-btn primary" type="submit" value="Submit">
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>


   </section>
   <!--================Blog Area end =================-->


{% endblock %}